.container:has(form) {
    padding: unset;
    justify-content: center;
}

form {
    width: min(450px, 80%);
    background-color: #05527366;
    border-radius: 5px;
    padding: 25px 50px;
}

.form-title {
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 38px;
}

.form-filed {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.form-input {
    transition: 0.15s ease-out;
}

.form-input:focus {
    background: #fff;
    box-shadow: 0px 3px 10px #80808077;
}

.uncompleted {
    border-bottom: 3px solid #c40000;
}

.form-filed span {
    margin-top: 5px;
    font-size: 14px;
    color: #c40000;
}

.password-icon {
    padding: 10px;
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.show-password {
    background-image: url(../Images/visible.png);
}

.hide-password {
    background-image: url(../Images/invisible.png);
}

.checkbox-container {
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 14px;
}

.checkbox-container :nth-child(n) {
    cursor: pointer;
}

.form-filed:has(input[type="checkbox"]) {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

input[type="checkbox"] {
    accent-color: var(--primary-color);
}

.form-btn {
    margin-top: 25px;
    display: flex;
    column-gap: 5%;
}

.btn-submit {
    flex-grow: 1;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
    transition-duration: 0.3s;
}

.btn-submit:hover {
    background-color: #006bd6;
}

.form-suggest {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.form-suggest p {
    font-size: 13px;
    line-height: 17px;
}

.textLink {
    cursor: pointer;
    color: #eeeeee;
}

.hide-content {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.show-content {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.3s;
}

/* Responsive */
@media(max-width: 600px) {
    form {
        padding: 30px;
    }

    .formTitle {
        font-size: 32px;
    }
}